# Node modules
node_modules/

# Build output
dist/
build/

# Uploaded/temporary files
src/uploads/
src/temp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# OS-specific
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/

# Electron
*.asar

# Misc
coverage/
.idea/